<!DOCTYPE html>
{% extends 'base_1_tools.html' %}
{% load static %}

{% block content %}

<body>
  <div class="container"> 
    <div class="row">
      <div class="col-md-6 offset-md-3"> 
        <form action="{% url 'register:login' %}" method="post" autocomplete="off">
          {% csrf_token %}
          <h1>Login</h1>
          <div class="form-group"> 
            <label for="username"><b>User Name</b></label>
            <input id="username" class="form-control" type="text" placeholder="Enter User Name: " name="username" required autocomplete="off"> 
            <label for="psw"><b>Password</b></label>
            <input id="psw" class="form-control" type="password" placeholder="Enter Password: " name="psw" required autocomplete="new-password"> 
          </div>
          {% if message %}
          <div class="alert alert-warning"> 
            {{ message }}
          </div>
          {% endif %}
          <button class="btn btn-primary" type="submit">Login</button> 
        </form>
      </div>
    </div>
  </div>
</body>

{% endblock %}